.Settings {
  width: calc(100% - 32px);
  max-width: 300px;


  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  label {
    margin: 0;
    font-size: 16px;
    font-weight: 600;

    &:has(+ input:focus) {
      color: #6664eb;
    }
  }

  input {
    width: 100%;
    border: 2px #6664eb solid;
    margin: 0.25em 0 1em;
    padding: 1em 0.5em;
    border-radius: 0.5em;

    &:focus {
      outline: 1px #6664eb solid;
    }
  }
}